Package: grep
Version: 3.1-2
Architecture: amd64
Essential: yes
Maintainer: Anibal Monsalve Salazar <anibal@debian.org>
Installed-Size: 1149
Pre-Depends: libc6 (>= 2.14), libgcc1 (>= 1:3.0), libpcre3
Depends: dpkg (>= 1.15.4) | install-info
Suggests: libpcre3 (>= 7.7)
Conflicts: rgrep
Provides: rgrep
Section: utils
Priority: required
Multi-Arch: foreign
Homepage: http://www.gnu.org/software/grep/
Description: GNU grep, egrep and fgrep
 'grep' is a utility to search for text in files; it can be used from the
 command line or in scripts.  Even if you don't want to use it, other packages
 on your system probably will.
 .
 The GNU family of grep utilities may be the "fastest grep in the west".
 GNU grep is based on a fast lazy-state deterministic matcher (about
 twice as fast as stock Unix egrep) hybridized with a Boyer-Moore-Gosper
 search for a fixed string that eliminates impossible text from being
 considered by the full regexp matcher without necessarily having to
 look at every character. The result is typically many times faster
 than Unix grep or egrep. (Regular expressions containing backreferencing
 will run more slowly, however.)
