Package: grep-dbgsym
Source: grep
Version: 3.1-2
Auto-Built-Package: debug-symbols
Architecture: amd64
Maintainer: Anibal Monsalve Salazar <anibal@debian.org>
Installed-Size: 163
Depends: grep (= 3.1-2)
Section: debug
Priority: optional
Description: debug symbols for grep
Build-Ids: 4614ec91a13956710abbfa08fe5db941aeccb5f4
